
.list-group {
    list-style-type: none;
}

.portfolio-main{
    width: 100%; 
    height: fit-content;
}

.card-pic{
    object-fit: contain;
}

.footer{
    position:fixed;
    bottom:0;
    left:0;
}

.header, 
.tech-button{
    background-color: darkred;
}



/*@media screen and (max-width:968px) {

}

@media screen and (max-width:768x) {
    
}*/

@media only screen and (max-width: 1200px) {

    .profile-pic {
        display: none;
        }

    .header-body {
        float: center;
    }
    
}


@media only screen and (max-width: 600px) {

    .profile-pic {
        display: none;
        }
    
}